<!DOCTYPE html>
<html>

<head>
<title>AngularJS-CV v2</title>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>

<script src="https://cdn.rawgit.com/chrismcg61/TechDemos/1.58/MyLibs/DataMgt.js"></script>
<script src="https://cdn.rawgit.com/chrismcg61/TechDemos/1.58/MyLibs/DataCV.js"></script>


<style>
body{
  background-color: rgba(0,0,0, 0.9);
  margin: 0 0 0 0;
}
</style>
</head>






















<body>
<div ng-app="myApp" ng-controller="myCtrl" 
  style="text-align: center; color:white; 
  font-size: 24px; font-family: Arial, Helvetica, sans-serif;">

  <div ng-repeat="x in subDivs" >
    {{ x.title.txt }}
    {{ x.tagDiv.title }}
    <span ng-repeat="t in x.tagDiv.tags" ng-bind-html="t" style="margin-right:8px; background-color:rgba(100,100,100,0.5);">  
    </span>
  </div>
  
  <br>
  <button ng-click="prevDiv()">◄</button>  
  <button ng-click="nextDiv()">►</button>  
  
  <br>
  <br>
  <button ng-click="modifyHtmlDiv()">Modify SubDiv.html</button>
  <div id="testDiv"></div>
  <div ng-include="'subDiv.html'"></div>
  

</div>  
</body>


























<script>
var app = angular.module("myApp", ['ngSanitize']);
app.controller("myCtrl", function($scope, $timeout, $sanitize) {    
  $scope.subDivs = rootData_Pers.subDivs;  
  
  $scope.nextDiv = function(){ $scope.subDivs = rootData_JobTitles.subDivs[0].subDivs; }
  $scope.prevDiv = function(){ $scope.subDivs = rootData_Pers.subDivs; }
  
  $scope.modifyHtmlDiv = function(){
    //testDiv.innerHTML = "AAA";
	htmlDiv.style.backgroundColor = "rgba("+(Math.random()*255)+","+(Math.random()*255)+","+(Math.random()*255)+", 0.5)";
  }
});
</script>
</html>
